.mainpage{
    flex:5;
    background-color:#ffffff;
    padding-top:30px;
    padding-left:4%;
}
.box{
    display:flex;
}
.title{
    color:#498D80;
    font-weight:bold;
    font-size:30px;
    float:left;

    margin-right:20%;
    margin-bottom:3%;
}
.highlight{
    color:#61D2A2;
}
.tier{
    background-color:#e2f8f6;
    height:50px;
    border-radius:13px;
    flex:1;
    margin-right:4%;
    position:relative;
}
.tier-type{
    color:#498D80;
    font-weight:bold;

    position:absolute;
    top:50%;
    left:60px;
    transform: translate(-50%, -50%);
}
.map{
    height:80%;
    width:95%;
    border-radius:14px;
    border:7px solid #c9efec;
}