/*.header {
    background-color: #ffffff;
    display: flex;
    height: 60px;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}*/
/*.header_nav {
    list-style: none;
    font-size: 18px;
    margin-top: auto;
    display: flex;
    flex:1; 남은 여백 공간을 해당 요소가 모두 차지하게 되면서 오른쪽으로 정렬된다. 
    justify-content: flex-end;
    padding-right:60px;
}*/
/*.nav_option {
    font-weight:bold;
    margin-left: 40px; 
}*/
/*a{
    color:#498D80;
    text-decoration: none;
}*/
/*.logo{
    max-width: 90%;
    max-height: 90%;
    margin-top:auto;
    margin-left:20px;
}*/


